body {
    background-color: lightblue;
}


.center {
	margin-top: 50px;
	text-align: center;	
}

#submit {
  color: #ffffff;
  width: 135px;
  height: 50px;
  border: solid 2px;
  margin: auto;
  padding: 30;
  background: #5555ff; 
}